@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>重新登录提示</title>
    <style type="text/css">
        .logintip
        {
            width: 260px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            vertical-align: middle;
            height: 50px;
            padding-top: 50px;
            font-size:13px;
        }
        .red
        {
            color:red;
        }
    </style>
</head>
<body>
    <div class="logintip">
        <p class="red">登录超时请重新<a href="javascript:top.window.location.href='/User/Login';">登录</a>.</p>
    </div>
</body>
</html>
